<div class="signup-container">
    <div class="image-container">
        <img src="../../../assets/images/email-logo.png">
    </div>
    <div class="label">
        <img src="../../../assets/images/user-logo.png" alt="">
    </div>
    <div class="create-user">
        <span>First Name</span>
        <input class="user-email" id="login-email" type="text" name="username" placeholder="Enter the user name" />
        <span>Last Name</span>
        <input class="user-password" id="login-password" type="password" name="email" placeholder="Enter the email" />
        <span>Contact No.</span>
        <input class="user-password" id="login-password" type="password" name="email" placeholder="Enter the email" />
        <span>Email</span>
        <input class="user-email" id="login-email" type="text" name="username" placeholder="Enter the user name" />
        <span>Password</span>
        <input class="user-password" id="login-password" type="password" name="email" placeholder="Enter the email" />
    </div>
    <button id="login-user" class="log-in-button">SIGN UP</button>
    <div class="new-user">
        <p>Existing User?<span id="log-in" class="user-signin-span">Log In</span></p>
    </div>
</div>